<h1><%= t('editing', obj: t('book', scope: [:activerecord, :models])) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('show', obj: t('book', scope: [:activerecord, :models])), @book %> |
  <%= link_to t('back_to_all', obj: t('books')), books_path %>
</nav>
